# Git files
.git/
.gitignore

# Docker specific files
.dockerignore
Dockerfile
docker-compose.yml

# Documentation
README.md

# Python virtual environment and cache
.venv/
venv/
env/
__pycache__/
*.pyc

# Local development configuration
.env
.env.*

# IDE / Editor specific files
.idea/
.vscode/

# Log files
*.log
